@import 'tailwindcss';


@theme {

  /* colors */
  --color-primary: #155dfc;
  --color-secondary: #2c2c2c;
  --color-accent: #007bff;

  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --text-accent: #ffffff;
}